$laptop-device-width: 1870px;
$laptop-large-width: 1440px;
$laptop-itself-width:1260px;
$laptop-small-width: 1024px;
$table-device-width: 768px;
$iphone-large-plus-width: 448px;
$iphone-large-x-width: 375px;
$mobile-device-small-width: 360px;
$iphone-se-width: 320px;