@import url('https://fonts.googleapis.com/css2?family=Signika:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');
$laptop-device-width: 1870px;
$laptop-large-width: 1440px;
$laptop-itself-width:1260px;
$laptop-small-width: 1024px;
$table-device-width: 768px;
$iphone-large-plus-width: 448px;
$iphone-large-x-width: 375px;
$mobile-device-small-width: 360px;
$iphone-se-width: 320px;
@mixin laptop-device {
    @media (max-width: #{$laptop-device-width}) {
        @content;
    }
}

@mixin laptop-large {
    @media (max-width: #{$laptop-large-width}) {
        @content;
    }
}

@mixin laptop-itself {
    @media(max-width:#{$laptop-itself-width}) {
        @content;
    }
}

@mixin laptop-small {
    @media (max-width:#{$laptop-small-width}) {
        @content;
    }
}

@mixin table-device {
    @media (max-width: #{$table-device-width}) {
        @content;
    }
}

@mixin iphone-large-plus {
    @media (max-width: #{$iphone-large-plus-width}) {
        @content;
    }
}

@mixin iphone-large-x {
    @media (max-width: #{$iphone-large-x-width}) {
        @content;
    }
}

@mixin mobile-device-small {
    @media (max-width: #{$mobile-device-small-width}) {
        @content;
    }
}

@mixin iphone-se {
    @media (max-width: #{$iphone-se-width}) {
        @content;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

 :root {
    --primary-color: #ffcccc;
    --color-text: #2d3436;
    --bg-about: #3c6382;
    --bg-about-s: #0a3d62;
}

@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background: linear-gradient(to right, #fffcdc, #d9a7c7);
}

.container {
    .header {
        background: #d9a7c7;
        background: linear-gradient(to right, #fffcdc, #d9a7c7);
        background: linear-gradient(to right, #fffcdc, #d9a7c7);
        @include flex();
        flex-direction: column;
        position: relative;
        max-width: 100%;
        min-width: 320px;
        height: auto;
        .header-overlay {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 0;
            background: #fff;
            z-index: 4;
            transition: .5s;
            &.active {
                height: 100%;
            }
        }
        .menu-show__toggle {
            position: fixed;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, 0.91);
            z-index: 3;
            overflow: hidden;
            @include flex();
            flex-direction: column;
            transition: .5s;
            padding: 40px;
            .__toggle--menu-single.active-move {
                transition: .5s;
                position: relative;
                width: 80%;
                height: calc(100% / 9);
                left: -100%;
                margin: 2px;
                @include flex();
                animation: moveslow 2s forwards;
                transition-delay: .6s;
                border-top: 1px solid rgba(255, 255, 255, 0.3);
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                backdrop-filter: blur(5px);
                box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
                &:nth-child(1) {
                    animation-delay: 0.1s !important;
                    background: linear-gradient(90deg, rgba(0, 36, 25, 1) 0%, rgba(9, 121, 82, 1) 35%, rgba(0, 176, 255, 1) 100%);
                    transition: .5s;
                }
                &:nth-child(2) {
                    animation-delay: 0.1s !important;
                    background: linear-gradient(to right, transparent, #fffcdc);
                    transition: .3s;
                }
                &:nth-child(3) {
                    animation-delay: 0.15s !important;
                    background: linear-gradient(to right, transparent, #fffcdc);
                    transition: .5s;
                }
                &:nth-child(4) {
                    animation-delay: 0.2s !important;
                    background: linear-gradient(to right, transparent, #fffcdc);
                    transition: .5s;
                }
                &:nth-child(5) {
                    animation-delay: 0.25s !important;
                    background: linear-gradient(to right, transparent, #fffcdc);
                    transition: .5s;
                }
                @keyframes moveslow {
                    0% {
                        left: -100%;
                        margin: 2px;
                    }
                    100% {
                        left: 0;
                        background: linear-gradient(to right, transparent, #fffcdc);
                    }
                }
                a {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    @include flex();
                    font-size: 4vw;
                    font-weight: 600;
                    text-transform: uppercase;
                    text-decoration: none;
                    color: #2d3436;
                    transition: .3s;
                    &:hover {
                        background: #78e08f;
                        color: #e74c3c;
                    }
                }
                &.animatewidth {
                    transition-delay: 0.2s;
                    width: 100%;
                    height: calc(55% /4);
                    border-radius: 0px;
                    margin: 0;
                    box-shadow: none;
                    border-top: none;
                    border-bottom: none;
                }
            }
            &.active-show {
                left: 0;
                padding: 0;
            }
            .__toggle-remove {
                width: 40px;
                height: 40px;
                position: absolute;
                top: 20px;
                right: -100px;
                cursor: pointer;
                transition: 1.5s;
                padding: 5px;
                .__toggle-remove--line {
                    width: 100%;
                    height: 5px;
                    background-color: #2d3436;
                    transition: transform 0.4s;
                    margin: 5px 0;
                }
                &.active {
                    right: 30px;
                    z-index: 10;
                    transition-delay: right 0.3s;
                    .__toggle-remove--line {
                        width: 100%;
                        height: 5px;
                        background-color: #2d3436;
                        transition: 0.5s;
                        margin: 5px 0;
                        &:nth-child(1) {
                            transform: rotate(-45deg) translate(-5px, 4px);
                            -webkit-transform: rotate(-45deg) translate(-4px, 4px);
                        }
                        &:nth-child(2) {
                            transform: rotate(45deg) translate(-4px, -4px);
                            -webkit-transform: rotate(45deg) translate(-4px, -4px);
                        }
                    }
                }
            }
        }
        .nav {
            position: relative;
            width: 90%;
            height: auto;
            @include flex();
            padding: 20px 15px;
            margin-top: 20px;
            justify-content: space-between !important;
            backdrop-filter: blur(40px);
            .logo {
                position: relative;
                display: flex;
                justify-content: flex-start;
                align-items: baseline;
                flex-direction: column;
                h1 {
                    font-size: 45px;
                    color: var(--color-text);
                    span.logo__hue-color {
                        color: red;
                        transition: .4s;
                    }
                    @include laptop-small {
                        font-size: 35px;
                    }
                }
                .logo--line {
                    width: 100%;
                    height: 3px;
                    transition: .4s;
                    background: red;
                }
            }
            .toggle-icon__show {
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: space-evenly;
                flex-direction: column;
                align-items: flex-end;
                position: relative;
                cursor: pointer;
                .toggle-icon__show--line {
                    width: 80%;
                    height: 9px;
                    background: #57606f;
                    margin: 4px 0px;
                    &:nth-child(3) {
                        width: 100%;
                    }
                }
            }
        }
        .main__content {
            @include flex();
            width: 90%;
            height: 800px;
            position: relative;
            .__content {
                min-width: 40%;
                height: 100%;
                position: relative;
                .__content--middle {
                    position: absolute;
                    top: 30%;
                    left: 0%;
                    width: 100%;
                    height: 100%;
                    .__content--greeting {
                        font-size: 40px;
                        color: var(--color-text);
                        margin-bottom: 10px;
                        font-family: 'Roboto', sans-serif;
                        text-transform: capitalize;
                        @include laptop-large {
                            font-size: 3vw;
                        }
                        @include table-device {
                            font-size: 4vw;
                        }
                        @include iphone-large-plus {
                            font-size: 6vw;
                        }
                    }
                    .__content--name {
                        font-size: 40px;
                        color: var(--color-text);
                        margin-bottom: 10px;
                        text-transform: capitalize;
                        position: relative;
                        font-family: 'Roboto', sans-serif;
                        transition: .5s;
                        .--name--up {
                            font-size: 50px;
                            color: red;
                            transition: .5s;
                            @include laptop-large {
                                font-size: 36px;
                            }
                            @include laptop-itself {
                                font-size: 2.6vw;
                            }
                            @include table-device {
                                font-size: 5vw;
                            }
                            @include iphone-large-plus {
                                font-size: 6vw;
                            }
                        }
                        @include laptop-device {
                            font-size: 40px;
                        }
                        @include laptop-large {
                            font-size: 35px;
                        }
                        @include laptop-itself {
                            font-size: 3vw;
                        }
                        @include table-device {
                            font-size: 5vw;
                        }
                        @include iphone-large-plus {
                            font-size: 5.5vw;
                        }
                    }
                    .__content--job {
                        font-size: 45px;
                        color: rgba(255, 255, 255, 0.1);
                        margin-bottom: 10px;
                        text-transform: capitalize;
                        -webkit-text-stroke: 0.1px var(--color-text);
                        transition: 0.5s;
                        position: relative;
                        font-family: 'Roboto', sans-serif;
                        overflow: hidden;
                        font-weight: bold;
                        width: 100%;
                        height: auto;
                        &::before {
                            content: attr(data-text);
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            color: var(--color-text);
                            -webkit-text-stroke: 0px var(--color-text);
                            border-right: 2px solid #2d3436;
                            overflow: hidden;
                            animation: text 8s linear infinite;
                            /*margin-top: 10px;*/
                        }
                        @keyframes text {
                            0%,
                            100% {
                                width: 0%;
                            }
                            70% {
                                width: 100%;
                            }
                        }
                        @include laptop-device {
                            font-size: 41px;
                        }
                        @include laptop-large {
                            font-size: 36px;
                            height: 65px;
                        }
                        @include laptop-itself {
                            font-size: 3vw;
                            height: 38px;
                        }
                        @include table-device {
                            font-size: 5vw;
                            height: 50px;
                        }
                        @include iphone-large-plus {
                            font-size: 7vw;
                            height: 29px;
                        }
                    }
                    .__content--explore-button {
                        position: relative;
                        width: 200px;
                        height: 60px;
                        left: -15px;
                        margin-top: 40px;
                        cursor: pointer;
                        a {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            @include flex();
                            font-size: 25px;
                            font-weight: 500;
                            color: var(--color-text);
                            text-decoration: none;
                            border-top: 1px solid rgba(255, 255, 255, 0.3);
                            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                            background: rgba(255, 255, 255, 0.05);
                            box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
                            z-index: 1;
                            overflow: hidden;
                            transition: .5s;
                            letter-spacing: 2px;
                            backdrop-filter: blur(15px);
                            &::before {
                                content: '';
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 70%;
                                height: 200px;
                                background: linear-gradient(to left, rgba(0, 0, 0, 0.1), transparent);
                                transform: skewX(35deg) translateX(0);
                                transition: .5s;
                            }
                            i {
                                font-size: 30px;
                            }
                            @include laptop-device {
                                font-size: 20px;
                            }
                            @include laptop-large {
                                font-size: 17px;
                            }
                        }
                        &::before {
                            content: '';
                            position: absolute;
                            left: 50%;
                            transform: translateX(-50%);
                            bottom: -5px;
                            width: 35px;
                            height: 10px;
                            background-color: #ffcccc;
                            border-radius: 10px;
                            transition: .5s;
                            box-shadow: 0px 0px 5px #ffcccc, 0px 0px 15px #ffcccc, 0px 0px 30px #ffcccc, 0px 0px 60px #ffcccc;
                            transition-delay: 0.3s;
                        }
                        &::after {
                            content: '';
                            position: absolute;
                            left: 50%;
                            transform: translateX(-50%);
                            top: -5px;
                            width: 35px;
                            height: 10px;
                            background-color: #ffcccc;
                            border-radius: 10px;
                            transition: .5s;
                            box-shadow: 0px 0px 5px #ffcccc, 0px 0px 15px #ffcccc, 0px 0px 30px #ffcccc, 0px 0px 60px #ffcccc;
                            transition-delay: 0.3s;
                        }
                        &:hover {
                            &::before {
                                bottom: 0;
                                width: 80%;
                                height: 50%;
                            }
                            &::after {
                                top: 0;
                                width: 80%;
                                height: 50%;
                            }
                            a {
                                letter-spacing: 4px;
                                &::before {
                                    transform: skewX(35deg) translateX(200%);
                                }
                            }
                        }
                        @include laptop-device {
                            width: 175px;
                            height: 60px;
                            margin-top: 35px;
                        }
                        @include laptop-large {
                            height: 53px;
                        }
                        @include laptop-small {
                            width: 150px;
                            height: 47px;
                        }
                    }
                    @include table-device {
                        top: 24%;
                    }
                }
                @include laptop-device {
                    min-width: 50%;
                }
                @include table-device {
                    min-width: 100%;
                }
                @include table-device {
                    left: 3%;
                }
            }
            .__content-img {
                min-width: 60%;
                height: 100%;
                position: relative;
                img {
                    position: relative;
                    width: 100%;
                    height: 80%;
                    background-size: cover;
                }
                .__content-img-button {
                    position: absolute;
                    width: 200px;
                    height: 60px;
                    a.__content-button--hover {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-decoration: none;
                        box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
                        border-top: 1px solid rgba(255, 255, 255, 0.6);
                        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                        color: #2d3436;
                        font-size: 20px;
                        text-transform: capitalize;
                        letter-spacing: 4px;
                        transition: .5s;
                        backdrop-filter: blur(5px);
                        font-weight: 600;
                        &.__button--hover-fi {
                            background: unset;
                            color: #fff;
                        }
                        &.__button--hover-s {
                            background: linear-gradient(to left, #4b6584, #7efff5);
                        }
                        &.__button--hover-t {
                            background: linear-gradient(to left, #fc5c65, #e77f67);
                        }
                        &.__button--hover-f {
                            background: linear-gradient(to left, #778ca3, #a5b1c2);
                        }
                        @include laptop-large {
                            font-size: 16px;
                            letter-spacing: 1px;
                        }
                        @include iphone-large-plus {
                            font-size: 10px;
                        }
                    }
                    &:nth-child(1) {
                        top: 57%;
                        left: 58%;
                        z-index: 1;
                        animation: firstMove 7s linear infinite;
                        @keyframes firstMove {
                            0%,
                            100% {
                                left: 57%;
                            }
                            50% {
                                left: 69%;
                            }
                        }
                        @include laptop-device {
                            top: 54%;
                        }
                        @include laptop-large {
                            top: 52%;
                        }
                        @include laptop-itself {
                            top: 51%;
                        }
                        @include table-device {
                            top: 57%;
                        }
                        @include iphone-large-plus {
                            top: 54%;
                        }
                    }
                    &:nth-child(2) {
                        top: 13%;
                        left: 20%;
                        z-index: 1;
                        animation: secondMove 6s linear infinite;
                        @keyframes secondMove {
                            0%,
                            100% {
                                left: 20%;
                            }
                            50% {
                                left: 32%;
                            }
                        }
                        @include laptop-device {
                            top: 18%;
                        }
                        @include laptop-large {
                            top: 20%;
                        }
                        @include laptop-itself {
                            top: 21%;
                        }
                        @include table-device {
                            top: 12%;
                        }
                        @include iphone-large-plus {
                            top: 16%;
                        }
                    }
                    &:nth-child(3) {
                        top: 40%;
                        left: 18%;
                        z-index: 1;
                        animation: thirdMove 6s linear infinite;
                        @keyframes thirdMove {
                            0%,
                            100% {
                                left: 18%;
                            }
                            50% {
                                left: 6%;
                            }
                        }
                        @include laptop-small {
                            @keyframes thirdMove {
                                0%,
                                100% {
                                    left: 13%;
                                }
                                50% {
                                    left: 2%;
                                }
                            }
                        }
                    }
                    &:nth-child(4) {
                        top: 27%;
                        left: 61%;
                        z-index: 1;
                        animation: fourthMove 8s linear infinite;
                        @keyframes fourthMove {
                            0%,
                            100% {
                                left: 61%;
                            }
                            50% {
                                left: 74%;
                            }
                        }
                        @include laptop-large {
                            top: 29%;
                        }
                    }
                    @include laptop-device {
                        width: 165px;
                        height: 50px;
                    }
                    @include laptop-large {
                        width: 150px;
                        height: 46px;
                    }
                    @include laptop-itself {
                        width: 130px;
                        height: 40px;
                    }
                    @include laptop-small {
                        width: 100px;
                        height: 32px;
                    }
                    @include table-device {
                        width: 125px;
                        height: 40px;
                    }
                    @include iphone-large-plus {
                        width: 95px;
                        height: 30px;
                    }
                }
                @include laptop-device {
                    min-width: 50%;
                }
                @include table-device {
                    min-width: 100%;
                }
            }
            @include laptop-large {
                max-height: 700px;
            }
            @include laptop-itself {
                max-height: 600px;
            }
            @include laptop-small {
                max-height: 495px;
            }
            @include table-device {
                flex-direction: column;
                max-height: 760px;
            }
            @include iphone-large-plus {
                max-height: 695px;
            }
        }
        .header__scrol-down {
            position: absolute;
            bottom: 5px;
            left: 45%;
            width: 140px;
            height: 60px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            .__scroll-down--icon {
                width: 20px;
                height: 35px;
                border: 2px solid #596275;
                border-radius: 20px 20px 15px 15px;
                position: relative;
                transition: 0.5s;
                animation: MouseScroll 4s linear infinite;
                @keyframes MouseScroll {
                    0%,
                    100% {
                        bottom: -10px;
                    }
                    50% {
                        bottom: 0;
                    }
                }
                &::before {
                    content: "";
                    position: absolute;
                    bottom: 4px;
                    left: 40%;
                    width: 4px;
                    height: 10px;
                    background: #2d3436;
                    border-radius: 10px;
                    animation: MouseMove 1s linear infinite;
                    transition: .5s ease;
                    @keyframes MouseMove {
                        0%,
                        100% {
                            height: 6px;
                            bottom: 2px;
                        }
                        50% {
                            bottom: 4px;
                            height: 10px;
                        }
                    }
                }
            }
            .__scroll-down--text {
                font-size: 14px;
                animation: textShadow 2s linear infinite;
                @keyframes textShadow {
                    0%,
                    100% {
                        color: transparent;
                    }
                    50% {
                        color: var(--color-text);
                    }
                }
            }
        }
    }
    .about {
        width: 100%;
        height: 100vh;
        position: relative;
        @include flex();
        .about-overpage-off {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #dfe6e9;
            z-index: 4;
            transform-origin: top;
            transition: .5s;
            &.overpage-on {
                height: 0;
            }
        }
        .about__block {
            position: absolute;
            width: 92.2%;
            height: 96%;
            top: 2%;
            left: 4%;
            border: 10px solid #f1f1f1;
            z-index: 1;
            @include laptop-itself {
                width: 98%;
                height: 98%;
                top: 1%;
                left: 1%;
                border: 8px solid #f1f1f1;
                z-index: 1;
            }
            @include laptop-small {
                display: none;
            }
        }
        .about__container {
            width: 100%;
            height: 100%;
            position: relative;
            background: #f1f1f1;
            box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
            background: linear-gradient(to top, var(--bg-about), transparent);
            @include flex();
            .about-overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(255, 255, 255, 0.3);
                z-index: 2;
            }
            .about__ls {
                position: relative;
                min-width: 50%;
                height: 100%;
                background: var(--bg-about-s);
                overflow: hidden;
                .about__ls-text {
                    position: absolute;
                    width: 98%;
                    height: 7%;
                    top: 45%;
                    left: -45%;
                    transform: rotate( -90deg);
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 20px;
                    text-transform: uppercase;
                    font-weight: bold;
                    color: #000;
                    z-index: 1;
                    @include laptop-itself {
                        display: none;
                    }
                }
                .about-me {
                    position: absolute;
                    top: -15vh;
                    left: 43%;
                    width: 100%;
                    height: auto;
                    padding: 10px;
                    z-index: 1;
                    text-align: center;
                    transition: .5s;
                    p.about-me-text {
                        font-size: 7vw;
                        font-weight: bold;
                        color: #fff;
                        text-transform: uppercase;
                        @include laptop-itself {
                            font-size: 9vw;
                        }
                        @include laptop-small {
                            font-size: 11vw;
                        }
                        @include table-device {
                            font-size: 12vw;
                        }
                        @include iphone-large-plus {
                            font-size: 16vw;
                        }
                    }
                    &.animate {
                        top: 35vh;
                        @include table-device {
                            top: 25vh;
                        }
                        @include iphone-large-plus {
                            top: 21vh;
                        }
                    }
                    @include laptop-small {
                        width: 115%;
                    }
                }
                .about-me-content {
                    width: 0%;
                    height: 50%;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    background-color: red;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    flex-direction: column;
                    padding: 0px 30px 0px 0px;
                    transition: 0.5s;
                    overflow: hidden;
                    .about-me-content-ani {
                        position: relative;
                        font-size: 2vw;
                        color: #fff;
                        margin-bottom: 15px;
                        right: -60%;
                        transition: .3s;
                        opacity: 0;
                        visibility: hidden;
                        font-family: 'Zilla Slab Highlight', cursive;
                        font-weight: 700;
                        &.active {
                            right: 0%;
                            opacity: 1;
                            visibility: visible;
                            @include table-device() {
                                letter-spacing: 2px;
                            }
                        }
                        @include laptop-itself {
                            font-size: 3vw;
                        }
                        @include table-device() {
                            font-size: 4vw;
                        }
                    }
                    &.animateInfor {
                        width: 100%;
                        @include iphone-large-plus {
                            display: none;
                        }
                    }
                    @include table-device {
                        padding: 0px 5px 0px 0px;
                    }
                }
            }
            .about__rs {
                position: relative;
                min-width: 50%;
                height: 100%;
                overflow: hidden;
                .about__rs--bg {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    background: url("../images/me.jpg");
                    background-position: 74% 100%;
                    background-size: cover;
                    background-repeat: no-repeat;
                    @include iphone-large-plus {
                        background-position: 60% 100%;
                    }
                }
                .about__rs-text {
                    position: absolute;
                    width: 98%;
                    height: 7%;
                    top: 45%;
                    right: -45%;
                    transform: rotate( 90deg);
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 20px;
                    text-transform: uppercase;
                    font-weight: bold;
                    color: #000;
                    @include laptop-itself {
                        display: none;
                    }
                }
                .about-me {
                    position: absolute;
                    top: 100vh;
                    left: -57%;
                    width: 100%;
                    height: auto;
                    padding: 10px;
                    z-index: 1;
                    text-align: center;
                    transition: .5s;
                    p.about-me-text.stroke {
                        font-size: 7vw;
                        font-weight: bold;
                        color: rgba(255, 255, 255, 0.1);
                        text-transform: uppercase;
                        -webkit-text-stroke: 0.1px #fff;
                        @include laptop-itself {
                            font-size: 9vw;
                        }
                        @include laptop-small {
                            font-size: 11vw;
                        }
                        @include table-device {
                            font-size: 12vw;
                        }
                        @include iphone-large-plus {
                            font-size: 16vw;
                        }
                    }
                    &.animate-stroke {
                        top: 35vh;
                        @include table-device {
                            top: 25vh;
                        }
                        @include iphone-large-plus {
                            top: 21vh;
                        }
                    }
                    @include laptop-small {
                        width: 115%;
                    }
                }
            }
        }
        .about__scrol-down {
            position: absolute;
            bottom: 5%;
            left: 5%;
            width: 140px;
            height: 60px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            .about__scroll-down--icon {
                width: 20px;
                height: 35px;
                border: 2px solid #fff;
                border-radius: 20px 20px 15px 15px;
                position: relative;
                transition: 0.5s;
                animation: MouseScroll 4s linear infinite;
                @keyframes MouseScroll {
                    0%,
                    100% {
                        bottom: -10px;
                    }
                    50% {
                        bottom: 0;
                    }
                }
                &::before {
                    content: "";
                    position: absolute;
                    bottom: 4px;
                    left: 40%;
                    width: 4px;
                    height: 10px;
                    background: #fff;
                    border-radius: 10px;
                    animation: MouseMove 1s linear infinite;
                    transition: .5s ease;
                    @keyframes MouseMove {
                        0%,
                        100% {
                            height: 6px;
                            bottom: 2px;
                        }
                        50% {
                            bottom: 4px;
                            height: 10px;
                        }
                    }
                }
            }
            .about__scroll-down--text {
                font-size: 14px;
                animation: textShadow 2s linear infinite;
                @keyframes textShadow {
                    0%,
                    100% {
                        color: transparent;
                    }
                    50% {
                        color: #fff;
                    }
                }
            }
        }
        .about-me-content-outside {
            display: none;
            @include iphone-large-plus {
                width: 90%;
                height: 30%;
                position: absolute;
                bottom: 2%;
                left: 5%;
                background-color: red;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                flex-direction: column;
                padding: 0px 30px 0px 0px;
                transition: 0.5s;
                overflow: hidden;
                .about-me-outside {
                    position: relative;
                    font-size: 6vw;
                    color: rgba(0, 0, 0, 0.1);
                    -webkit-text-stroke: 1px #fff;
                    margin-bottom: 15px;
                    transition: 0.3s;
                }
            }
        }
    }
    .me__infor {
        position: relative;
        width: 100%;
        height: 50vh;
        @include flex();
        flex-direction: column;
        p {
            font-family: 'Recursive', sans-serif;
            font-size: 20px;
            font-style: italic;
            margin-bottom: 20px;
            text-align: center;
            overflow-wrap: break-word;
            line-height: 35px;
            &:nth-child(3) {
                margin: 0% 20%;
                @include iphone-large-plus {
                    margin: 0 10px;
                }
            }
        }
    }
    .project {
        width: 100%;
        height: 200vh;
        position: relative;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        grid-template-rows: repeat(auto-fill, minmax(150px, 1fr));
        .proj__block {
            grid-column: 3/11;
            grid-row: 1/4;
            position: relative;
            @include flex();
            .proj__block--img {
                width: 60%;
                height: 100%;
                position: relative;
                background: rgba(255, 255, 255, 0.05);
                .proj__block--img-img {
                    width: 100%;
                    height: 100%;
                    background-position: center center;
                    background-size: cover;
                }
                .proj__block--img-overlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.4));
                }
                .proj__block--content {
                    position: absolute;
                    bottom: 5%;
                    left: 0%;
                    width: 100%;
                    height: 30%;
                    @include flex();
                    p {
                        font-size: 2vw;
                        font-family: "Recursive", sans-serif;
                        padding: 20px;
                        font-weight: bold;
                        color: #f1f1f1;
                        line-height: 50px;
                        overflow-wrap: break-word;
                    }
                }
            }
            .proj__vis--content {
                width: 40%;
                height: 100%;
                position: relative;
                .proj__vis--line {
                    position: absolute;
                    bottom: 5%;
                    left: -15%;
                    width: 0;
                    height: 4px;
                    background: #fff;
                    border-radius: 5px;
                    transition: .5s;
                    &.activeWidth {
                        width: 100%;
                    }
                }
                a {
                    position: absolute;
                    bottom: 5%;
                    left: 38%;
                    width: 47%;
                    height: 0px;
                    overflow: hidden;
                    @include flex();
                    text-decoration: none;
                    font-size: 25px;
                    font-weight: bold;
                    border: 0px solid;
                    color: #fff;
                    transition: .5s;
                    &.active {
                        height: 60px;
                        border: 4px solid;
                        &:hover {
                            color: #2d3436;
                        }
                    }
                }
            }
        }
        .proj__block:nth-child(2) {
            grid-column: 6/12;
            grid-row: 4/6;
            position: relative;
            @include flex();
            .proj__block--img {
                width: 60%;
                height: 100%;
                position: relative;
                background: rgba(255, 255, 255, 0.05);
                order: 2;
                .proj__block--img-img {
                    width: 100%;
                    height: 100%;
                    background-position: center center;
                    background-size: cover;
                }
                .proj__block--img-overlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.4));
                }
                .proj__block--content {
                    position: absolute;
                    bottom: 5%;
                    left: 0%;
                    width: 100%;
                    height: 30%;
                    @include flex();
                    p {
                        font-size: 2vw;
                        font-family: "Recursive", sans-serif;
                        padding: 20px;
                        font-weight: bold;
                        color: #f1f1f1;
                        line-height: 50px;
                        overflow-wrap: break-word;
                    }
                }
            }
            .proj__vis--content {
                width: 40%;
                height: 100%;
                position: relative;
                .proj__vis--line {
                    position: absolute;
                    bottom: 5%;
                    left: 15%;
                    width: 0;
                    height: 4px;
                    background: #fff;
                    border-radius: 5px;
                    transition: .5s;
                    &.activeWidth {
                        width: 100%;
                    }
                }
                a {
                    position: absolute;
                    bottom: 5%;
                    left: 15%;
                    width: 47%;
                    height: 0px;
                    overflow: hidden;
                    @include flex();
                    text-decoration: none;
                    font-size: 25px;
                    font-weight: bold;
                    border: 0px solid;
                    color: #fff;
                    transition: .5s;
                    &.active {
                        height: 60px;
                        border: 4px solid;
                        &:hover {
                            color: #2d3436;
                        }
                    }
                }
            }
        }
        .proj__block:nth-child(3) {
            grid-column: 2/10;
            grid-row: 6/9;
            position: relative;
            @include flex();
            .proj__block--img {
                width: 60%;
                height: 100%;
                position: relative;
                background: rgba(255, 255, 255, 0.05);
                .proj__block--img-img {
                    width: 100%;
                    height: 100%;
                    background-position: center center;
                    background-size: cover;
                }
                .proj__block--img-overlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.4));
                }
                .proj__block--content {
                    position: absolute;
                    bottom: 5%;
                    left: 0%;
                    width: 100%;
                    height: 30%;
                    @include flex();
                    p {
                        font-size: 2vw;
                        font-family: "Recursive", sans-serif;
                        padding: 20px;
                        font-weight: bold;
                        color: #f1f1f1;
                        line-height: 50px;
                        overflow-wrap: break-word;
                    }
                }
            }
            .proj__vis--content {
                width: 40%;
                height: 100%;
                position: relative;
                .proj__vis--line {
                    position: absolute;
                    bottom: 5%;
                    left: -15%;
                    width: 0;
                    height: 4px;
                    background: #fff;
                    border-radius: 5px;
                    transition: .5s;
                    &.activeWidth {
                        width: 100%;
                    }
                }
                a {
                    position: absolute;
                    bottom: 5%;
                    left: 38%;
                    width: 47%;
                    height: 0px;
                    overflow: hidden;
                    @include flex();
                    text-decoration: none;
                    font-size: 25px;
                    font-weight: bold;
                    border: 0px solid;
                    color: #fff;
                    transition: .5s;
                    &.active {
                        height: 60px;
                        border: 4px solid;
                        &:hover {
                            color: #2d3436;
                        }
                    }
                }
            }
        }
    }
}